In [1]:
## import pandas
import pandas as pd

In [2]:
## Display floating numbers with 2 decimal places
pd.options.display.float_format = '{:.2f}'.format

In [3]:
## read the data
pd.read_excel("data_raw/HHS_Grants_Terminated_April_2025_Mechanism_Isolated.xlsx", sheet_name = "Sheet1")

,Awarding Office,FAIN,Grant Family,Award Mechanism,Award Number,Recipient Name,Date Terminated,Total Amount Obligated,Total Amount Expended,Total Payment Amount,Unliquidated Obligations,Award Title,Presidential Action,For Cause (Put X if_x000D_applicable)
0,NIH,C06OD030152,C,C06,1C06OD030152-01,Columbia University,2025-03-12,8000000.00,"$ 8 ,000,000.00",8000000,0.00,Creation of an Institutional Biobanking Facility,N/A - Departmental_x000D_Authority,-
1,NIH,DP2MH132941,D,DP2,1DP2MH132941-01,HARVARD UNIVERSITY,2025-03-14,1521000.00,"$ 1 ,521,000.00",1521000,0.00,The Optics of Health: Race Skin Tone Minority ...,N/A - Departmental_x000D_Authority,-
2,NIH,F31AI176760,F,F31,1F31AI176760-01A1,Columbia University,2025-03-14,48974.00,48974,"$4 8,974.00",0.00,Host Factors Required by Human Parainfluenza V...,N/A - Departmental_x000D_Authority,-
3,NIH,R01DK132735,R,R01,1R01DK132735-01,"UNIVERSITY OF CALIFORNIA-LOS_x000D_ANGELES, BO...",2025-03-24,3636473.00,"$ 3 ,636,473.00",3636473,0.00,Metabolic and epigenetic reprogramming of vita...,N/A - Departmental_x000D_Authority,-
4,NIH,R03CA289560,R,R03,1R03CA289560-01,MAYO CLINIC ROCHESTER,2025-03-20,80700.00,80677.36,"$ 8 0,677.36",0.00,Refinement of a Training Module to Improve Dis...,N/A - Departmental_x000D_Authority,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
686,NIH,F31HD110257,F,F31,5F31HD110257-02,Columbia University,2025-03-12,94648.00,94647.50,"$ 9 4,647.50",0.50,Does self-reported psychosocial stress in preg...,N/A - Departmental_x000D_Authority,-
687,NIH,R01AI171984,R,R01,5R01AI171984-03,VAN ANDEL RESEARCH INSTITUTE,2025-03-03,1420407.00,"$ 1 ,420,406.52",1420406.52,0.48,"The roles of genetics, hormones, and gender in...",N/A - Departmental_x000D_Authority,-
688,NIH,R01DK129239,R,R01,5R01DK129239-03,UNIVERSITY OF ALABAMA AT_x000D_BIRMINGHAM,2025-03-03,667021.00,667020.67,667020.67,0.33,Mitochondrial-based Determinants of Sex Differ...,N/A - Departmental_x000D_Authority,-
689,NIH,R25GM066534,R,R25,5R25GM066534-20,VIRGINIA POLYTECHNIC INST AND ST_x000D_UNIV,2025-03-21,749936.00,834149.98,834149.98,-84213.98,Virginia Tech Postbaccalaureate Research Educa...,N/A - Departmental_x000D_Authority,-
690,NIH,R25GM060566,R,R25,5R25GM060566-22,SPELMAN COLLEGE,2025-03-21,2211245.00,"$ 2 ,392,381.24",2392381.24,-181136.24,The Next Generation of Black Women Scientists,N/A - Departmental_x000D_Authority,-

In [4]:
## Store the dataset in a variable
df_NIH_Terminated_Grants_Family = pd.read_excel("data_raw/HHS_Grants_Terminated_April_2025_Mechanism_Isolated.xlsx", sheet_name = "Sheet1")

In [5]:
## Call the dataset
df_NIH_Terminated_Grants_Family

,Awarding Office,FAIN,Grant Family,Award Mechanism,Award Number,Recipient Name,Date Terminated,Total Amount Obligated,Total Amount Expended,Total Payment Amount,Unliquidated Obligations,Award Title,Presidential Action,For Cause (Put X if_x000D_applicable)
0,NIH,C06OD030152,C,C06,1C06OD030152-01,Columbia University,2025-03-12,8000000.00,"$ 8 ,000,000.00",8000000,0.00,Creation of an Institutional Biobanking Facility,N/A - Departmental_x000D_Authority,-
1,NIH,DP2MH132941,D,DP2,1DP2MH132941-01,HARVARD UNIVERSITY,2025-03-14,1521000.00,"$ 1 ,521,000.00",1521000,0.00,The Optics of Health: Race Skin Tone Minority ...,N/A - Departmental_x000D_Authority,-
2,NIH,F31AI176760,F,F31,1F31AI176760-01A1,Columbia University,2025-03-14,48974.00,48974,"$4 8,974.00",0.00,Host Factors Required by Human Parainfluenza V...,N/A - Departmental_x000D_Authority,-
3,NIH,R01DK132735,R,R01,1R01DK132735-01,"UNIVERSITY OF CALIFORNIA-LOS_x000D_ANGELES, BO...",2025-03-24,3636473.00,"$ 3 ,636,473.00",3636473,0.00,Metabolic and epigenetic reprogramming of vita...,N/A - Departmental_x000D_Authority,-
4,NIH,R03CA289560,R,R03,1R03CA289560-01,MAYO CLINIC ROCHESTER,2025-03-20,80700.00,80677.36,"$ 8 0,677.36",0.00,Refinement of a Training Module to Improve Dis...,N/A - Departmental_x000D_Authority,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
686,NIH,F31HD110257,F,F31,5F31HD110257-02,Columbia University,2025-03-12,94648.00,94647.50,"$ 9 4,647.50",0.50,Does self-reported psychosocial stress in preg...,N/A - Departmental_x000D_Authority,-
687,NIH,R01AI171984,R,R01,5R01AI171984-03,VAN ANDEL RESEARCH INSTITUTE,2025-03-03,1420407.00,"$ 1 ,420,406.52",1420406.52,0.48,"The roles of genetics, hormones, and gender in...",N/A - Departmental_x000D_Authority,-
688,NIH,R01DK129239,R,R01,5R01DK129239-03,UNIVERSITY OF ALABAMA AT_x000D_BIRMINGHAM,2025-03-03,667021.00,667020.67,667020.67,0.33,Mitochondrial-based Determinants of Sex Differ...,N/A - Departmental_x000D_Authority,-
689,NIH,R25GM066534,R,R25,5R25GM066534-20,VIRGINIA POLYTECHNIC INST AND ST_x000D_UNIV,2025-03-21,749936.00,834149.98,834149.98,-84213.98,Virginia Tech Postbaccalaureate Research Educa...,N/A - Departmental_x000D_Authority,-
690,NIH,R25GM060566,R,R25,5R25GM060566-22,SPELMAN COLLEGE,2025-03-21,2211245.00,"$ 2 ,392,381.24",2392381.24,-181136.24,The Next Generation of Black Women Scientists,N/A - Departmental_x000D_Authority,-

In [6]:
## Create a pivot table that counts the number of terminated grants in each grant family
## Store the pivot table in a variable
NIH_Terminated_Grants_Family_Pivot_Table = df_NIH_Terminated_Grants_Family.pivot_table(index = ['Grant Family'], values = ['Award Number'], aggfunc = 'count')

In [7]:
## Sort the pivot table
NIH_Terminated_Grants_Family_Pivot_Table.sort_values(by='Award Number', ascending=False)

              Award Number
Grant Family
R                      403
U                       98
F                       74
K                       34
T                       30
P                       21
O                       11
D                        9
S                        6
C                        3
G                        2

In [8]:
## Create a pivot table that both counts the number of grants in each grant family and sums the total amount obligated for each grant family
## Store the pivot table in a variable
NIH_Terminated_Grants_Family_Pivot_Table_Funding = df_NIH_Terminated_Grants_Family.pivot_table(index = ['Grant Family'], values = ['Award Number', 'Total Amount Obligated'], aggfunc = {'Award Number': 'count',
                                                                                                                            'Total Amount Obligated': 'sum',
                                                                                                                            })

In [9]:
## Call the pivot table
NIH_Terminated_Grants_Family_Pivot_Table_Funding

              Award Number  Total Amount Obligated
Grant Family
C                        3             12000000.00
D                        9             14177956.00
F                       74              7133890.00
G                        2               190926.00
K                       34             28771187.00
O                       11             21694043.45
P                       21            238677256.25
R                      403            626995555.58
S                        6             22520179.00
T                       30             49871855.73
U                       98           2476205808.47

In [10]:
## Look at data of NIH active grants broken down by family
pd.read_excel("data_raw/NIH_Reporter_Active_Grants_Summary_Family_Isolated_4.8.25.xlsx")

,Grant Family,Activity Code,Projects,Total Funding,Sub Projects,Sub Project Funding,Total Funding Including Sub Projects
0,R,R01,32382,17559891391,2.00,846670,17560738061
1,R,R21,5575,1402070479,2.00,214543,1402285022
2,R,R35,3677,1636158679,NaN,0,1636158679
3,U,U01,2596,2564836587,1.00,141006,2564977593
4,Z,ZIA,2571,2839667273,NaN,0,2839667273
...,...,...,...,...,...,...,...
96,T,T90,23,8696834,NaN,0,8696834
97,U,UF1,22,86352044,NaN,0,86352044
98,I,I50,22,0,NaN,0,0
99,T,T42,22,30112747,NaN,0,30112747
100,NaN,Total,78580,50013090358,8664.00,3676659301,53689749659

In [11]:
## Store the dataset in a variable
df_NIH_Active_Grants_Family = pd.read_excel("data_raw/NIH_Reporter_Active_Grants_Summary_Family_Isolated_4.8.25.xlsx")

In [12]:
## call the variable
df_NIH_Active_Grants_Family

,Grant Family,Activity Code,Projects,Total Funding,Sub Projects,Sub Project Funding,Total Funding Including Sub Projects
0,R,R01,32382,17559891391,2.00,846670,17560738061
1,R,R21,5575,1402070479,2.00,214543,1402285022
2,R,R35,3677,1636158679,NaN,0,1636158679
3,U,U01,2596,2564836587,1.00,141006,2564977593
4,Z,ZIA,2571,2839667273,NaN,0,2839667273
...,...,...,...,...,...,...,...
96,T,T90,23,8696834,NaN,0,8696834
97,U,UF1,22,86352044,NaN,0,86352044
98,I,I50,22,0,NaN,0,0
99,T,T42,22,30112747,NaN,0,30112747
100,NaN,Total,78580,50013090358,8664.00,3676659301,53689749659

In [13]:
## Create a pivot table that counts the number of grants in each grant family
## Store the pivot table in a variable
df_NIH_Active_Grants_Family.pivot_table(index = ['Grant Family'], values = ['Projects'], aggfunc = 'sum')
NIH_Active_Grants_Family_Pivot_Table = df_NIH_Active_Grants_Family.pivot_table(index = ['Grant Family'], values = ['Projects'], aggfunc = 'sum')

In [14]:
## Call the pivot table
NIH_Active_Grants_Family_Pivot_Table

              Projects
Grant Family
C                   50
D                  801
F                 3579
I                 1708
K                 5212
N                 1584
O                  408
P                 1442
R                52698
S                  323
T                 2070
U                 5799
Z                 2906

In [15]:
## Create a pivot table that counts the number of grants in each grant family and sums the total funding for each grant family
## Store the pivot table in a variable
df_NIH_Active_Grants_Family.pivot_table(index = ['Grant Family'], values = ['Projects', 'Total Funding Including Sub Projects'], aggfunc = {'Projects': 'sum',
                                                                                                                                     'Total Funding Including Sub Projects': 'sum'})
NIH_Active_Grants_Family_Funding_Pivot_Table = df_NIH_Active_Grants_Family.pivot_table(index = ['Grant Family'], values = ['Projects', 'Total Funding Including Sub Projects'], aggfunc = {'Projects': 'sum',
                                                                                                                                     'Total Funding Including Sub Projects': 'sum'})

In [16]:
## Call the pivot table
NIH_Active_Grants_Family_Funding_Pivot_Table

              Projects  Total Funding Including Sub Projects
Grant Family
C                   50                             321494255
D                  801                             661200787
F                 3579                             180565972
I                 1708                                     0
K                 5212                             957638145
N                 1584                            3472552250
O                  408                            2543515504
P                 1442                            4302315387
R                52698                           26517550312
S                  323                             225729388
T                 2070                             824714198
U                 5799                            9781571451
Z                 2906                            3900902010

In [17]:
## Export active grants funding pivot table to csv
NIH_Active_Grants_Family_Funding_Pivot_Table.to_csv('active_grants_funding.csv')

In [18]:
## Export terminated grant family pivot table to csv
NIH_Terminated_Grants_Family_Pivot_Table_Funding.to_csv('terminated_grants_funding.csv')

In [20]:
## Next steps are to determine the percent termination of each grant family using the data in the pivot tables.  
## Note that in order to get the percent termination the calculation is as follows:
##Number of Terminated Awards/(Active Awards + Terminated Awards)
## I did this in Excel as didn't know how to combine two pivot tables together in Python
## Based on my Excel calculations F grants had the highest terminatinon rate (approximately 2 percent) among the most commonly awarded grant families